@model List<Category>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary" style="border-radius:15px;">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>
@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Records Found!</p>
}
</div>